*{
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FUENTE LOGOTIPO*/
@font-face {
    font-family: 'Robotech';
    src: url('../fonts/ROBOTECH\ GP.ttf');
}

/*PERSONALIZACION CAPA IN PAGE*/

body{
    background:#282F35;
}

#ancla-menu{
    font-family: 'Trispace', sans-serif ;
    font-size: 2em;
    text-decoration: none;
    color: black;
    text-decoration-line: none;
    position: relative;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 5%;
}

.logotipo{
    cursor: pointer;
    font-family: Robotech;
    font-size: 2.1rem;
    color: #373737;
    animation: in-header 2.6s ease-in alternate;
}

.menu{
    list-style: none;
    animation: in-header 2.6s ease-in alternate;
}

.menu li{
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    font-family: Quicksand;
}

.item_menu{
    color: #707070;
}

.item-button{
    background: #BA1E1E;
    color: white;
    list-style: none;
    display: inline;
    border-radius: 17px;
    padding: 6px 12px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    
    animation: in-btn 2.6s  linear alternate 1;
}

@keyframes in-btn{
    0%{
        opacity: 0;
        background: #BA1E1E;
    }
    50%{
        background: white;
        color: #373737;
    }
    100%{
        background: #BA1E1E;
        color: white;
        opacity: 1;
    }
}

/*CABECERA*/

p, li , a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
 }

 .header{
    width: 100%;
    background: #DBDBDB;
    
}

@keyframes in-header{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0);
    }
}

#logotipo{
    width: 115px;
    margin-top: -5px;
}




/* BANNER INICIO*/
.seccion{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background:#DBDBDB;
    padding: 5px 0px;
    overflow: hidden;
}

@keyframes in-seccion{
    from{
        transform: translateY(500px);
    }
    to{
        transform: translateY(0);
    }
}

.triang{
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#tri{
    height: 150%;
    width: 150%;
    animation: rotacion 3.5s linear alternate-reverse infinite ;
}

/*ANIMACIÓN SVG TRIANGULOS*/

@keyframes rotacion{
    0%{
        transform: rotate(-1.2deg);
        
    }
    50%{
        transform: rotate(0deg);
        transform: scale(1.01);
    }
    100%{
        transform: rotate(1.2deg);
        
     
    }
}

/*TEXTO ESLOGAN*/

.eslogan{
    position: absolute;
    display: flex;
}
.text1{
    color: #BA1E1E;
    animation: in-text1 2s ease-out alternate;
}

@keyframes in-text1{
    from{
        transform: translateX(1800px) ;
    }
    to{
        transform: translateX(0) ;
    }
}

.text1:hover{
    color: white;
    transition: .5s linear;
    margin-left: 60px;
    overflow: hidden;
}

.text2:hover{
    color: white;
    transition: .5s;
    margin-right: 60px;
    overflow: hidden;
}

.text{
    color: white;
    margin: 0px 20px ;
    animation: in-text2 2s ease-in alternate;
}

@keyframes in-text{
    from{
        transform: translateX(3300px) ;
    }
    to{
        transform: translateX(0) ;
    }
}

.text2{
    color: #343D47;
    animation: in-text2 2s alternate;
}

@keyframes in-text2{
    from{
        transform: translateX(3300px) ;
    }
    to{
        transform: translateX(0) ;
    }
}

.text1,.text,.text2{
    font-size: 5.5rem;
    font-family: Trispace;
    cursor: default;
}

.seccion_inf{
    position: relative;
    height: 120px;
    width: 100%;
 
}

.seccion2{
    height: 800px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.subtitulo{
    color: #ffffff;
    font-family: 'Trispace', sans-serif ;
    text-align: left;
    font-size: 5rem;
    letter-spacing: -5px;
}

.subtitulo_mini{
    color: #696969;
    font-family: 'Quicksand', sans-serif ;
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.caja{
    width: 100%;
    height: 50%;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 50%;    
    height: 200px;
}

.contenido-info{
    width: 50%;
    height: 200px;
    font-size: 1.4rem;
    padding: 15px;
    text-align: center;
}

.imagen-co{
    height: 200px;
    width: 100%;
}

.seccion-3{
    height: 1250px;
    width: 100%;
    background:#DBDBDB;
    padding: 5px 0px;
    overflow: hidden;
}

#sub_mini_servicios{
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
}

#servicios{
    color: #343D47;
    text-align: right;
    margin: 35px 0px;
    margin-right: 20px;
}

.servicio-contenido{
    padding: 20px;
    width: 30%;
    height: 95%;
}

.servicio-fila{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    height: 450px;
}

/*CARDS SERVICIOS*/


h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:100%;
  width:100%;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:100%;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color: #D72323;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}

/*SECCION EQUIPO DE TRABAJO*/

.seccion3{
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100%;
}

.contenedor_equi{
    height: 500px;
    width: 100%;    
    flex-direction: row;
}

transition-ease-in-out: all .25s ease-in-out 0s;
transition-cubic-bezier : all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
animation-offset: 80px;

*, :after, :before {
    box-sizing: border-box;
}

strong {
	font-weight: 900;
}

.canvas-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	
	.canvas + .canvas {
		margin-left: 40px;
	}
}
.canvas {
	position: relative;
	display: block;
	width: 400px;
	height: 400px;
	padding: 20px;
	color: inherit;
	text-decoration: none;
}
.canvas_border {
	position: absolute;
	top: 40px;
	left: -40px;
	height: 100%;
	width: 100%;
	z-index: 0;

	svg {
		height: 100%;
		width: 100%;
	}
}
.rect-gradient {
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	animation: erase-line 1s ease-in-out forwards;
}
.canvas_img-wrapper {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: rotate(-10deg) skew(-10deg);
	overflow: hidden;
	background: white;
}
.canvas_img {
	transform: scale3d(.9,.9,.9);
	opacity: .3;
	max-width: 200px;
	max-height: 200px;
}
.canvas_copy {
	position: absolute;
	bottom: 0;
	left: 85%;
	text-transform: uppercase;
	color: #dac527;
	z-index: 100;
}
.canvas_copy--left {
	left: -25%;
}
.canvas_copy_title {
	font-size: 62px;
	display: block;
	transform: translateX(-#{$animation-offset});
		transition: $transition-cubic-bezier 0s;
		color: black;

		&:nth-child(1) {
			transition-delay: 0.1s;
			}
		&:nth-child(2) {
			transition-delay: 0.2s;
			}
}
.canvas_copy_subtitle {
	display: block;
	transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - #{$animation-offset}));
	transform-origin: top left;
	position: absolute;
	left: 0;
	top: 8px; //This needs to change with font size. It's an offset for the line-height of the "hellow world"
	font-size: 24px;
	font-weight: 900;
	transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
}
.canvas_copy_details {
	display: block;
	transition: $transition-cubic-bezier 0.14s;
	transform: translateX(-#{$animation-offset});
		}
.canvas_border, .canvas_img-wrapper, .canvas_img  {
	transition: $transition-ease-in-out;	
}
.canvas_border, .canvas_img-wrapper {
	transform: rotate(-10deg) skew(-10deg);	
}
.canvas_copy_title, .canvas_copy_subtitle, .canvas_copy_details {
	opacity: 0;
}
.canvas:hover {
	.canvas_copy_title, .canvas_copy_subtitle, .canvas_copy_details, .canvas_img {
		opacity: 1;
	}
	.canvas_border, .canvas_img-wrapper {
		transform: rotate(-14deg) skew(-14deg) scale(0.96);
	}
	.canvas_img {
		transform: scale3d(1,1,1);
	}
	.canvas_copy_title, .canvas_copy_details {
		transform: translateX(0);
	}
	.canvas_copy_subtitle {
		transform: rotate(270deg) translateY(-100%) translateX(-100%);
	}
	.rect-gradient {
		animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	}
}

@keyframes draw-line {
	from {
		stroke-dashoffset: 2000;		
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes erase-line {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 2000;		
	}
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*SECCION CONTACTANOS*/

#sub_contacto{
    color: #343D47;
}

#contacto{

    height: 700px;
    /*flex-direction: row;*/    
    margin-top: 30px;
}

.seccion_contacto{
    height: 600px;
    background: white;
}

.contenedor-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}

.caja-contacto{
    height: 590px;
    width: 500px;
    border: 2px #ffffff solid;
}

#bg{
    background-color: #BA1E1E;
    color: #DBDBDB;
}

#bg-form{
    background-color: #fbfbfb; 
}

.formulario{
    width: 100%;
    height: auto;
    margin:  auto;
    border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;   
    padding-left: 30px; 
}

.formulario input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #BA1E1E; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}

.formulario textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #BA1E1E; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
.formulario label{
    display: block; 
    float: center; 	
  }

#boton{
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    background-color: #BA1E1E;
    border-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #BA1E1E;
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    }
    
    h2 {
    font-weight: 400;
    font-size: 15px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .box a {
    color: #fbfbfb;
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color: #fbfbfb;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #fbfbfb;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }