* {
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FUENTE LOGOTIPO*/
@font-face {
    font-family: "Robotech";
    src: url("../fonts/ROBOTECH\ GP.ttf");
}

/*PERSONALIZACION CAPA IN PAGE*/

body {
    background: #181818;
}

#ancla-menu {
    font-family: "Trispace", sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: black;
    text-decoration-line: none;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 5%;
}

.logotipo {
    cursor: pointer;
    font-family: Robotech;
    font-size: 2.1rem;
    color: #ffff;
    animation: in-header 2.6s ease-in alternate;
}

.menu {
    list-style: none;
    animation: in-header 2.6s ease-in alternate;
}

.menu li {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    font-family: Quicksand;
}

.item_menu {
    color: #707070;
    transition: 0.6s;
    font-weight: 800;
}

.item_menu:hover {
    color: #ba1e1e;
    margin: 0px 15px;
    font-size: 1.1rem;
    animation: expand 0.7s ease-in-out alternate;
}

@keyframes expand {
    0% {
        transform: translateY(-50px);
    }

    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.item-button {
    color: #ba1e1e;
    list-style: none;
    display: inline;
    border-left: 1px #ba1e1e solid;
    border-right: 1px #ba1e1e solid;
    padding: 6px 18px;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    cursor: pointer;
    animation: in-btn 2.6s linear alternate 1;
}

.item-button:hover {
    background: none;
    border: 1px #ba1e1e solid;
    color: #ba1e1e;
    transition: 0.6s;
    transform: scale(1.1);
}

@keyframes in-btn {
    0% {
        opacity: 0;
        background: #ba1e1e;
    }
    50% {
        background: white;
        color: #373737;
    }
    100% {
        background: #ba1e1e;
        color: white;
        opacity: 1;
    }
}

/*CABECERA*/

p,
li,
a {
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
}

.header {
    width: 100%;
    background: #dbdbdb;
}

@keyframes in-header {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}

#logotipo {
    width: 115px;
    margin-top: -5px;
    color: #ffff;
}

/* BANNER INICIO*/
.seccion {
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #dbdbdb;
    padding: 5px 0px;
    overflow: hidden;
}

@keyframes in-seccion {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0);
    }
}

.triang {
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#tri {
    height: 150% !important;
    width: 150% !important;
    animation: rotacion 3.5s linear alternate-reverse infinite;
}

/*ANIMACIÓN SVG TRIANGULOS*/

@keyframes rotacion {
    0% {
        transform: rotate(-1.2deg);
    }
    50% {
        transform: rotate(0deg);
        transform: scale(1.01);
    }
    100% {
        transform: rotate(1.2deg);
    }
}

/*TEXTO ESLOGAN*/

.eslogan {
    position: absolute;
    display: flex;
}

@media (max-width: 800px) {
    .eslogan {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.text1 {
    color: #ba1e1e;
    animation: in-text1 2s ease-out alternate;
}

@keyframes in-text1 {
    from {
        transform: translateX(1800px);
    }
    to {
        transform: translateX(0);
    }
}

.text1:hover {
    color: white;
    transition: 0.5s linear;
    margin-left: 60px;
    overflow: hidden;
}

.text2:hover {
    color: white;
    transition: 0.5s;
    margin-right: 60px;
    overflow: hidden;
}

.text {
    color: white;
    margin: 0px 20px;
    animation: in-text2 2s ease-in alternate;
}

@keyframes in-text {
    from {
        transform: translateX(3300px);
    }
    to {
        transform: translateX(0);
    }
}

.text2 {
    color: #343d47;
    animation: in-text2 2s alternate;
}

@keyframes in-text2 {
    from {
        transform: translateX(3300px);
    }
    to {
        transform: translateX(0);
    }
}

.text1,
.text,
.text2 {
    font-size: 5.5rem;
    font-family: Trispace;
    cursor: default;
}

@media (max-width: 1300px) {
    .text,
    .text1,
    .text2 {
        font-size: 4.9rem;
    }
}

@media (max-width: 1150px) {
    .text,
    .text1,
    .text2 {
        font-size: 4.5rem;
    }
}

@media (max-width: 1000px) {
    .text,
    .text1,
    .text2 {
        font-size: 4rem;
    }
}
@media (max-width: 900px) {
    .text,
    .text1,
    .text2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 800px) {
    .text,
    .text1,
    .text2 {
        font-size: 3.8rem;
    }
}


.seccion_inf {
    position: relative;
    height: 120px;
    width: 100%;
    padding: 0px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.isotipo_home {
    height: 90px;
    width: 90px;
    right: 0;
}

.isotipo_home:hover {
    animation: ani-isotipo 2s ease-in-out alternate;
}

@keyframes ani-isotipo {
    0% {
    }
    30% {
        transform: scale(1.3);
        transform: rotate(180deg);
        opacity: 0.5;
    }

    80% {
        transform: rotate(-180deg);
    }

    100% {
        transform: scale(1);
    }
}

.txt_home {
    width: 300px;
    font-size: 1rem;
    color: #181818;
    font-family: Quicksand;
    font-weight: 800;
}

.seccion2 {
    height: 800px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.subtitles {
    margin-top: 20px;
}

.subtitulo {
    color: #ffffff;
    font-family: "Trispace", sans-serif;
    text-align: left;
    font-size: 5rem;
    letter-spacing: -5px;
}

.subtitulo_mini {
    color: #696969;
    font-family: "Quicksand", sans-serif;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.caja {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 50%;
    height: 200px;
}

.contenido-info {
    width: 50%;
    height: 200px;
    font-size: 1.4rem;
    padding: 15px;
    text-align: center;
}

.imagen-co {
    height: 200px;
    width: 100%;
}

/*SECCION SERVICIOS*/

.seccion-3 {
    height: 750px;
    width: 100%;
    background: #dbdbdb;
    overflow: hidden;
}

@media (max-width: 799px) {
    .seccion-3 {
        height: 850px;
    }
}

@media (max-width: 600px) {
    .seccion-3 {
        height: 1450px;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .seccion-3 {
        height: 1050px;
    }
}

#sub_servicios {
    text-align: right;
    color: #373737;
    margin-right: 25px;
}

@media (max-width: 1199px) {
    #sub_servicios {
        font-size: 4rem;
    }
}
@media (max-width: 799px) {
    #sub_servicios {
        font-size: 3.5rem;
    }
}

.container_cards_servicios {
    width: 100%;
    height: max-conten;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card_s {
    width: 340px;
    height: 200px;
    border-radius: 4px;
    background: #fff;
    background-size: 180px;
    box-shadow: 0 3px 50px rgb(207, 207, 207), 0 0 3px rgb(192, 192, 192);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    text-align: left;
    margin: 20px 30px;
}

@media (max-width: 799px) {
    .card_s {
        width: 240px;
        height: 150px;
    }
}

.card_s:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgb(105, 105, 105), 0 1px 4px rgb(134, 134, 134);
}

.card_s h3 {
    font-weight: 800;
}

@media (max-width: 799px) {
    .card_s h3 {
        font-size: 0.8rem;
    }
}

@media (max-width: 799px) {
    .p_servicio {
        font-size: 0.5rem;
    }
}

.card_s img {
    position: absolute;
    top: 20px;
    right: 55px;
}

.card-1 {
    background-image: url(../img/akka.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.card-2 {
    background-image: url(../img/akka.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.card-3 {
    background-image: url(../img/akka.svg);
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 990px) {
    .card {
        margin: 20px;
    }
}

#sub_mini_servicios {
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
}

#servicios {
    color: #343d47;
    text-align: right;
    margin: 35px 0px;
    margin-right: 20px;
}

.servicio-contenido {
    padding: 20px;
    width: 100%;
    height: 95%;
}

.servicio-fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    margin: 35px 10px;
}

/*Media querys servicios*/

/*SECCION EQUIPO DE TRABAJO*/

.seccion3 {
    display: flex;
    flex-direction: row;
    height: 650px;
    padding: 20px;
    width: 100%;
    max-width: 1920px;
    min-width: 650px;
    justify-content: center;
    align-items: center;
}

.contenedor_text {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-around;
}

.content {
    width: 100%;
    display: flex;
    height: 120px;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.slider_equipo {
    height: max-content;
    width: 100%;
    min-width: 450px;
    overflow: hidden;
}

#slider-text1 {
    animation: slide 17s linear infinite;
}

.slider-text {
    color: white;
    width: 500px;
    font-size: 1.3rem;
    margin: 40px 5px;
    font-weight: 400;
}

@keyframes slide {
    0% {
        margin-top: -411px;
    }

    5% {
        margin-top: -274px;
    }

    33% {
        margin-top: -274px;
    }

    38% {
        margin-top: -137px;
    }

    66% {
        margin-top: -137px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

.p_equipo {
    color: white;
    font-size: 1.1rem;
    width: 300px;
    font-family: Quicksand;
    font-weight: 800;
}

.txt_equipo {
    font-size: 1.1rem;
    color: white;
}

.row_triang {
    margin: 25px 0px;
}

#tri {
    height: 58px;
    width: 45px;
}

#sub_equipo_trabajo {
    font-size: 3.4rem;
}

.contenedor_equi {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
}

/*slider cards*/

.slider {
    height: 100%;
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__nav {
    width: 22px;
    height: 22px;
    margin: 1.4rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 rgb(129, 129, 129), 0 0 0 0 rgba(133, 133, 133, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__image {
    font-size: 2.7rem;
    color: #2196f3;
}
.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.slider__txt {
    color: #999;
    margin-bottom: 3rem;
    max-width: 300px;
}

@-webkit-keyframes check {
    50% {
        outline-color: rgb(167, 167, 167);
        box-shadow: 0 0 0 12px rgb(148, 148, 148), 0 0 0 36px #ba1e1e;
    }
    100% {
        outline-color: rgb(146, 146, 146);
        box-shadow: 0 0 0 0 rgb(161, 161, 161), 0 0 0 0 #ba1e1e;
    }
}

@keyframes check {
    50% {
        outline-color: rgb(136, 136, 136);
        box-shadow: 0 0 0 12px rgb(148, 148, 148), 0 0 0 36px #ba1e1e;
    }
    100% {
        outline-color: rgb(146, 146, 146);
        box-shadow: 0 0 0 0 rgb(160, 160, 160), 0 0 0 0 #ba1e1e;
    }
}

.title_perfil {
    font-family: Trispace;
    margin: 10px 0px;
    color: #181818;
}

.p_perfil {
    font-family: Quicksand;
    font-size: 0.8rem;
}

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */

.property-card {
    height: 25em;
    width: 65%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    overflow: hidden;
    -webkit-box-shadow: 10px 10px 22px #e7e7e7, -10px -10px 22px #e2e2e2;
    box-shadow: 10px 10px 22px#e7e7e7, -10px -10px 22px #e2e2e2;
}

@media (min-width: 1444px) {
    .property-card {
        height: 35rem;
    }
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image-monrra {
    height: 100%;
    width: 100%;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url("../img/mondra.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.property-image-joimar {
    height: 100%;
    width: 100%;
    padding: 1em 2em;
    position: Absolute;
    top: 0px;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-image: url("../img/joimar.jpg");
    background-repeat: no-repeat;
}

/* Bottom Card Section */

.property-description {
    background-color: #fafafc;
    height: 12em;
    width: 100%;
    position: absolute;
    bottom: 0em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
    justify-content: space-around;
}

/* Social Icons */

.property-social-icons {
    width: 1em;
    height: 1em;
    background-color: #d72323;
    position: absolute;
    bottom: 1em;
    left: 1em;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description {
    height: 0em;
    padding: 0px 1em;
}
.property-card:hover .property-image {
    height: 18em;
}

.property-card:hover .property-social-icons {
    background-color: white;
}

.property-card:hover .property-social-icons:hover {
    background-color: blue;
    cursor: pointer;
}

/*MEDIA QUERYS EQUIPO DE TRABAJO*/

@media (max-width: 1080px) {
    .seccion3 {
        flex-direction: column;
        height: 1150px;
        align-items: center;
    }
}

@media (min-width: 1444px) {
    .seccion3 {
        height: 1200px;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .seccion3 {
        flex-direction: column;
        height: 1150px;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .contenedor_equi {
        width: 90% !important;
    }
}

@media (max-width: 800px) {
    .slider-text {
        font-size: 1.3rem;
    }
}

@media (max-width: 750px) {
    #sub_equipo_trabajo {
        font-size: 3rem;
    }
}

@media (max-width: 1195px) and (min-width: 900px) {
    #sub_equipo_trabajo {
        font-size: 3.35rem;
    }
}

/*SECCION CONTACTANOS*/

#sub_contacto {
    background-color: #fbfbfb;
}

#contacto {
    height: 800px;
    /*flex-direction: row;*/
    margin-top: 30px;
}
/* Estilos contacto */
* {
    box-sizing: border-box;
}

body {
    font-family: "quicksand", sans-serif;
}

.contenido-form {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.brand-form {
    text-align: right;
    margin-right: 20px;
    color: #181818;
    font-family: "Trispace", sans-serif;
    font-size: 5em;
}

.contacto-grupo > * {
    padding: 1em;
}

.formulario {
    background-color: #fbfbfb;
}

.formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.formulario form .bloque-fr {
    grid-column: 1 / 3;
}

#btn_enviar {
    background: #ba1e1e;
    cursor: pointer;
    transition: 0.6s;
}

#btn_enviar:hover {
    background: none;
    border: 1px #ba1e1e solid;
    color: #ba1e1e;
    font-weight: bold;
}

#icon-contact {
    color: #373737;
}

.formulario form p {
    margin: 0;
    padding: 1em;
}

.formulario form button,
.formulario form input,
.formulario form textarea {
    width: 100%;
    padding: 0.5em;
    border: none;
    background-color: none;
    border-bottom: 1px solid #ba1e1e;
}

input:active {
    border: 0.5px #ccc solid;
}

.formulario form button {
    background-color: #ba1e1e;
    color: #fbfbfb;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.formulario-info {
    background-color: #e9e9e9;
    color: #fbfbfb;
}

.txt_contactanos {
    font-size: Quicksand;
    color: #ba1e1e;
    font-size: 1.2rem;
}

.p_contactanos {
    color: #373737;
    font-size: 0.8rem;
}

.form_contactanos {
    margin-top: 20px;
}

.formulario-info h4,
.formulario-info ul,
.formulario-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.formulario-info ul {
    list-style: none;
    padding: 1em;
}

.formulario-info ul li {
    padding: 0.3em;
}

/* Media querys */

@media (min-width: 700px) {
    .contacto-grupo {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contacto-grupo > * {
        padding: 2em;
    }

    .formulario-info h4,
    .formulario-info ul,
    .formulario-info p {
        padding: 1em;
        text-align: left;
    }
}

/* Fin estilos formulario conrtacto */

/*SECCION FOOTER*/

.container_redes {
    height: 300px;
    width: 250px;
    top: 60px;
    margin: 0px 45px;
    left: calc(50% - 300px);
    display: flex;
}

.txt_redes {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#card_facebook {
    background: #3b5998;
}

#card_instagram {
    background: linear-gradient(to bottom, #3f729b, #c32aa3);
}

#card_whatsapp {
    background: #25d366;
}

.card {
    display: flex;
    height: 150px;
    width: 120px;
    background-color: none;
    border-radius: 5px;
    box-shadow: -1rem 0 3rem #000;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 2px;
    width: 30px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 50px;
    left: calc(50% - 60px);
    opacity: 0.3;
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #17141d;
    stroke-width: 2px;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.isotipo {
    height: 100px;
    width: 100px;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #181818;
}

.footer > * {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #fbfbfb;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #fbfbfb;
    padding-top: 10px;
}

.l-footer p {
    padding-right: 20%;
    color: #fbfbfb;
}

@media screen and (min-width: 600px) {
    .r-footer > * {
        flex: 1;
    }

    .features {
        flex-grow: 2;
    }

    .l-footer {
        flex: 1 0px;
    }

    .r-footer {
        flex: 2 0px;
    }
}
